$color-primary: #3046C5;
$color-secondary: #5637dd;
$color-pale: #CEC8FF;
$color-mid: #901CAD;
$color-dark: #60106b;
$color-orange: #F6AA1C;
$color-transparent-black: rgba(0, 0, 0, 0.5);

body {
  font-family: "Open Sans", sans-serif; 
}

h1, h2, h3, .footerP {
    font-family: "Courgette", cursive;
} 

#latestPost, #contactSection {
    h3 {
    color: #ef476f;
    font-size: 2rem;
    }
}

.latestPost, .serviceId {
    font-family: "Caveat", sans-serif;
    font-size: 2rem;
}

.card-text {
    font-family: "Open Sans", sans-serif;
}

.navbar {
    background-color: #2F587B;
}

.navbar .nav-link {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 0.6rem !important;
    padding-right: 0.6rem !important;
}

.navbar .nav-item.active {
    border-left: #fff 1px solid;
}

.navbar {
    border-bottom: $color-orange 3px solid;
    opacity: 0.9;
}

.fa-search {
    color: #fff;
}

.carousel-item {
    height: 575px;
}

.carousel-image-1 {
    background: url(../img/image1.jpg);
    background-size: cover;
}

.carousel-image-2 {
    background: url(../img/image2.jpg);
    background-size: cover;
}

.carousel-image-3 {
    background: url(../img/image3.jpg);
    background-size: cover;
}

.carousel-image-4 {
    background: url(../img/image4.jpg);
    background-size: cover;
}

.mb-resposive {
    margin-bottom: 1rem;
}

/* Brands Slider Part */


.footer-row-2 {
    border-top: #fff 1px solid;
}

#contact1 {
    background: #ef476f;
}

/* Contact Form Section */
#contactSection, #signInSection, #resetSection {
    margin-top: 120px;
}

.contactUsSection {
    font-family: "Dancing script", sans-serif;
    font-size: 25px;
}

.contactUsSection {
    border-bottom: #ef476f 2px solid;
    padding-bottom: 15px;
}

/* Adding Map to the Site */
 #map {
   width: 100%;
   height: 400px;
 }

 #findUs h3  {
    color: #fff;
}

#findUs {    
    background: #2F587B;
    opacity: 0.9;
}

// Sign In page
.sizing {
    font-size: 14px;
    text-align: center;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}

.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid $color-pale;
    }

.separator::before {
    margin-right: .25em;
}

.separator::after {
    margin-left: .25em;
}

form.formGroup a:hover{
    text-decoration: none;
}

button #shadow:hover, #shadow:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.placeHolder {
  font-size: 15px;
  height: 50px !important;
  
  .placeHolder::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 15px;
    }

.placeHolder::-webkit-input-placeholder { /* WebKit browsers */
  font-size: 15px;
    }   

.placeHolder:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-size: 15px;
    }

.placeHolder::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-size: 15px;
    }

.placeHolder:-ms-input-placeholder { /* Internet Explorer 10+ */
  font-size: 15px;
    }
}

// Services Page
#header-services {
    height: 315px;
    background: url("../img/image2.jpg");
    background-position: 0 -820px;
    background-attachment: fixed;
    color: #fff;
    border-bottom: #eee;
    padding-top: 130px;
}

#faq .card {
    border: #ffd166;
}

#faq .card-header {
    background: #4c96cb;
    .card-body {
        background: #00afb9;
    }
    a {
        color: #fff;
        text-decoration: none;
    }
}













